<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">
        SÁCH THEO CHỦ ĐỀ
        <a href="#" class="list-group-item">Nhà xuất bản trẻ</a>
        <a href="#" class="list-group-item">NXB Thống kê</a>
        <a href="#" class="list-group-item">Kim Đồng</a>
        <a href="#" class="list-group-item">Đại học quốc gia</a>
        <a href="#" class="list-group-item">Văn hóa nghệ thuật</a>
        <a href="#" class="list-group-item">Văn hóa</a>
        <a href="#" class="list-group-item">Khoa học-Xã hội</a>
        <a href="#" class="list-group-item">Lao động & Kĩ thuật</a>
    </li>
</ul>

